.card-top{
  img{
    width: 50%;
    height: 30%;
    object-fit: contain;
    margin:0 auto;
    transition: all 0.3s ease-in-out;
    border-radius: 30%;
  }
  &:hover{
    img{
      transform: scale(1.1);
      cursor:pointer;
    }
  }
}

